<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyCompany.Properties.Settings.HelloMRIConnectionString"
            connectionString="Data Source=GACPCWK1\SQLEXPRESS;Initial Catalog=HelloMRI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>